@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
*{margin: 0 auto;}
.left{float: left;}
.right{float: right;}
body{
    background-color: olive;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    }
.wrapper{
    width: 90%;
    margin: 0 auto;
}
.post_img {
    margin-top: 54px;
}
.post_img img:hover{
    opacity: 0.4;
}
.news_content a{
    text-decoration: none;
}
.news_content h3{
    margin-top: 5px;
    font-weight: 400;
    color: green;
}
.news_content img{
    width: 79px;
    height: 74px;
    float: left;
    margin-top: 8px;
    margin-right: 2px;
    padding: 4px;
    border: 0.5px solid black;
    border-radius: 54px;
}
.news_content p{
    text-align: justify;
    margin-bottom: 3px;
}

input[type="text"], input[type="email"] {
    width: 300px;
    height: 28px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 11px;
    margin-bottom: 3px;
}
input[type="submit"]{
    width: 130px;
    height: 38px;
    border: 1px solid gray;
    background: green;
    border-radius: 5px;
    padding: 5px;
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin-top: 5px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background: black;
    color: white;
}
textarea{
    border-radius: 10px;
}
td,::placeholder{
    font-size: 18px;
    font-weight: bold;
}

.header {
    width: 76%;
    min-height: 100px;
    overflow: hidden;
    background-color: #5F9EA0;
}
.logo {
    width: 450px;
   
}
.logo a{text-decoration: none;}
.logo img {
    width: 110px;
    float: left;
    padding: 20px;
}
.logo h2 {
    margin-top: 71px;
    font-size: 33px;
    color: white;
    text-shadow: 3px -1px 0px #333;
 }

.logo p {
    font-size: 20px;
    color: white;
}
.social {
    width: 230px;
    margin-top: 20px;
}
.social img {
    padding: 7px;
    width: 40px;
    margin-top: 27px;
}

.nav_bar{
    width: 77%;
    min-height: 50px;
    overflow: hidden;
    
}
.nav_bar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav_bar ul li{
    display: block;
    float: left;
}

.nav_bar ul li a{
    display: block;
    text-decoration: none;
    background: #5F9EA0;
    margin: 8px;
    padding: 1px 23px;
    font-weight: bold;
    font-size: 24px;
    transition: 1s;
    color: black;
}

.nav_bar ul li a:hover,#active{
    background: black;
    color: white;
}

.slider-section{
    
}

   
.main_content{
    width: 85%;
    min-height:  height: 800px;
    overflow: hidden;
    
}
.sidebar{
    width: 20%;
    min-height: 1355px;
    margin-top: 5px;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
}

.sidebar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    
}
.sidebar ul li{
    padding: 4px;
    border-bottom: 1px dashed #a6a6c3;
}

.sidebar ul li:last-child{ border-bottom: 0px dashed blue;}
.sidebar ul li a{color: #111db3;text-decoration: none;}
.sidebar ul li a:hover{color: red;}

.sidebar h2{
    border-bottom: 2px solid black;
    background-color: dimgray;
    margin-top: 5px;
    color: white;
    
}
.sidebar p{
    margin-top: 5px;
}
.content{
    width: 77%;
    height: 750px;
    margin-top: 5px;
    /*background-color: cadetblue;*/
    padding: 7px;
    
}
.content h2{
    
    border-bottom: 2px solid black;
    margin-top: 15px;
    color: black;
}
.content img{
    float: left;
    width: 200px;
    border: 1px solid black;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    background: white;
}
.content p{
    margin-top: 5px;
    font-size: 19px;
    text-align: justify;
 }
.readmore{
    float: right;
 }
.readmore a{
    text-decoration: none;
    color: green;
    padding: 5px;
    font-size: 20px;
    background: white;
    border: 1px solid grey;
    margin-right: 31px;
    border-radius: 9px;
    display: block;
    margin-top: 5px;
}
.readmore a:hover{
    color: red;
}

.footer{
    width: 76%;
    min-height: 75px;
    overflow: hidden;
    background-color: #5F9EA0;
    font-size: 18px;
    text-align: center;
}
.footer p{
    margin-top: 10px;
}
.footer_menu{}
.footer_menu ul{margin: 0;padding: 0;list-style: none;text-align: center;}
.footer_menu ul li{display: inline-block;margin-top: 10px;color: blue;}
.footer_menu ul li a{text-decoration: none;}
.footer_menu ul li a:hover{color: red;}
.about img{
    height: 200px;
    width: 186px;
}
.fixedicon{
    position: fixed;
    top: 200px;
    left: 0;
    width: 60px;
    
}
.fixedicon img{
    width: 50px;
    margin-bottom: 10px;
}